.wireframpg1-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    text-size-adjust: 100;
  }
  .wireframpg1-wireframpg1 {
    width: 100%;
    height: 2983px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(9, 8, 52, 1);
  }
  .wireframpg1-background-projects {
    top: 1656px;
    left: -125px;
    width: 1754px;
    height: 1280px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .wireframpg1-ellipse4 {
    top: 690px;
    left: 1123px;
    width: 631px;
    height: 590px;
    position: absolute;
  }
  .wireframpg1-ellipse5 {
    top: 0px;
    left: 0px;
    width: 631px;
    height: 590px;
    position: absolute;
  }
  .wireframpg1-projects {
    top: 1894px;
    left: 190px;
    width: 1065px;
    height: 815px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .wireframpg1-desc {
    top: 679px;
    left: 0px;
    width: 1065px;
    height: 136px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .wireframpg1-rectangle3 {
    top: 0px;
    left: 0px;
    width: 1065px;
    height: 136px;
    position: absolute;
  }
  .wireframpg1-text {
    top: 40px;
    left: 80px;
    color: rgba(0, 0, 0, 1);
    width: 900px;
    height: auto;
    position: absolute;
    font-size: 32px;
    font-style: Regular;
    text-align: center;
    font-family: Red Rose;
    font-weight: 400;
    line-height: 27.5px;
    font-stretch: normal;
    text-decoration: none;
  }
  .wireframpg1-vector1 {
    top: 36px;
    left: 448.5px;
    width: 171px;
    height: 1px;
    position: absolute;
  }
  .wireframpg1-text02 {
    left: 448px;
    color: rgba(17, 191, 107, 1);
    height: auto;
    position: absolute;
    text-align: left;
    line-height: 27.5px;
    font-size: 100;
  }
  .wireframpg1-rectangle2 {
    top: 125px;
    left: 13px;
    width: 1045px;
    height: 540px;
    position: absolute;
    border-radius: 19px;
  }
  .wireframpg1-backgrounddesignabout {
    top: 917px;
    left: -70px;
    width: 1676px;
    height: 853px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .wireframpg1-ellipse3 {
    top: 0px;
    left: 0px;
    width: 631px;
    height: 590px;
    position: absolute;
  }
  .wireframpg1-ellipse41 {
    top: 263px;
    left: 1045px;
    width: 631px;
    height: 590px;
    position: absolute;
  }
  .wireframpg1-aboutme {
    top: 1034px;
    left: 207px;
    width: 1233px;
    height: 450px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .wireframpg1-image3 {
    top: 73px;
    left: 0px;
    width: 416px;
    height: 377px;
    position: absolute;
  }
  .wireframpg1-text04 {
    top: 91px;
    left: 451px;
    color: rgba(255, 255, 255, 1);
    width: 574px;
    height: auto;
    position: absolute;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    text-align: right;
    line-height: 29px;
  }
  .wireframpg1-line1 {
    top: 42px;
    left: 686px;
    width: 282px;
    height: 1px;
    position: absolute;
  }
  .wireframpg1-text06 {
    left: 727px;
    color: rgba(0, 77, 228, 1);
    width: 506px;
    height: auto;
    position: absolute;
    text-align: left;
    line-height: 27.5px;
  }
  .wireframpg1-backgrounddesigns {
    top: -188px;
    left: -151px;
    width: 1809px;
    height: 1045px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .wireframpg1-ellipse2 {
    top: 0px;
    left: 0px;
    width: 631px;
    height: 590px;
    position: absolute;
  }
  .wireframpg1-ellipse1 {
    top: 455px;
    left: 1178px;
    width: 631px;
    height: 590px;
    position: absolute;
  }
  .wireframpg1-mainpage {
    top: 251px;
    left: 188px;
    width: 1039px;
    height: 459px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .wireframpg1-image1 {
    top: 40px;
    left: 542px;
    width: 497px;
    height: 419px;
    position: absolute;
  }
  .wireframpg1-text08 {
    left: 2px;
    color: rgba(255, 255, 255, 1);
    width: 529px;
    height: auto;
    position: absolute;
    text-align: left;
    line-height: 100px;
  }
  .wireframpg1-text10 {
    top: 249px;
    left: 3px;
    color: rgba(255, 255, 255, 1);
    width: 506px;
    height: auto;
    position: absolute;
    font-size: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    font-style: Regular;
    text-align: left;
    font-family: Reggae One;
    font-weight: 400;
    line-height: 27.5px;
    font-stretch: normal;
    text-decoration: none;
  }
  .wireframpg1-git-hub {
    top: 397px;
    left: 0px;
    width: 179px;
    height: 53px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(97, 96, 150, 1);
  }
  .wireframpg1-text12 {
    top: 20px;
    left: 39px;
    color: rgba(10, 9, 52, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: SemiBold;
    text-align: left;
    font-family: Outfit;
    font-weight: 600;
    line-height: 27.5px;
    font-stretch: normal;
    text-decoration: none;
  }
  .wireframpg1-image2 {
    top: 12px;
    left: 104px;
    width: 34px;
    height: 30px;
    position: absolute;
  }
  .wireframpg1-navbar {
    top: 67px;
    left: 193px;
    width: 1060px;
    height: 28px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .wireframpg1-text14 {
    left: 678px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Outfit;
    font-weight: 400;
    line-height: 27.5px;
    font-stretch: normal;
    text-decoration: none;
  }
  .wireframpg1-text16 {
    left: 834px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Outfit;
    font-weight: 400;
    line-height: 27.5px;
    font-stretch: normal;
    text-decoration: none;
  }
  .wireframpg1-text18 {
    color: rgba(255, 255, 255, 1);
    width: 87px;
    height: auto;
    position: absolute;
    font-size: 40px;
    font-style: Medium;
    text-align: left;
    font-family: Reem Kufi;
    font-weight: 500;
    line-height: 27.5px;
    font-stretch: normal;
    text-decoration: none;
  }
  .wireframpg1-text20 {
    left: 973px;
    color: rgba(255, 255, 255, 1);
    width: 87px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Outfit;
    font-weight: 400;
    line-height: 27.5px;
    font-stretch: normal;
    text-decoration: none;
  }
  .wireframpg1-text22 {
    top: 2772px;
    left: 344px;
    color: rgba(126, 15, 15, 1);
    width: 763px;
    height: auto;
    position: absolute;
    font-size: 32px;
    font-style: Regular;
    text-align: center;
    font-family: Reem Kufi Fun;
    font-weight: 400;
    line-height: 27.5px;
    font-stretch: normal;
    text-decoration: none;
  }